<nav class="navbar navbar-expand-lg text-white" id="navdiv">
    <span><a class="nav-item nav-link"><strong>Mr. John Doe</strong></a></span>
    <span class="navbtn"><a class="nav-item nav-link" href="/dashboard">Dashboard</a></span>
    <span class="navbtn"><a class="nav-item nav-link" href="/attendance">Attendance</a></span>
    <span class="navbtn"><a class="nav-item nav-link" href="/examdetails">Add Marks</a></span>
    <span class="navbtn"><a class="nav-item nav-link" href="/editmarks">Edit Marks</a></span>
    <span class="navbtn"><a class="nav-item nav-link" href="/results">Results</a></span>
    <div class="navbtnright">
        <span class="navbtn"><a class="nav-item nav-link" href="/">Logout</a></span>
    </div>
</nav>