<app-header></app-header>
<div class="jumbotron jumbotron-fluid" id="dashmaindiv">
<div class="container">
    <div class="row" id="cardrow">
        <div class="col">
            <p-card header="NOTICE BOARD" [style]="{'width': '20rem', 'height': '20rem' , 'margin-bottom': '2em'}">
                <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col">
            <p-card header="ASSIGNMENTS" [style]="{'width': '20rem', 'height': '20rem' , 'margin-bottom': '2em'}">
                <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="col">
            <p-card header="COMPLAINT BOX" [style]="{'width': '20rem', 'height': '20rem' , 'margin-bottom': '2em'}">
                <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
    </div>
</div>
</div>
